{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}


{% block content %}
  <div class="product-detail">
    <div class="image-container">
      <img id="current-image" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
      <button id="prev-btn">&lt;</button>
      <button id="next-btn">&gt;</button>
      <div class="product-info">
        <p class="product_name">{{ product.name }}</p>
        <!-- <h2>
          <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
          </a>
        </h2> -->
        <p class="price">{{ product.formatted_price }} р.</p>
        <p class="description">{{product.description|linebreaks }}</p>
        <!-- <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Add to cart">
        </form> -->
      </div>
      
    </div> 
  </div>
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const currentImage = document.getElementById('current-image');
      const prevBtn = document.getElementById('prev-btn');
      const nextBtn = document.getElementById('next-btn');

      const images = [{% for image in product.images.all %}'{{ image.image.url }}',{% endfor %}];

      let currentIndex = 0;

      function showImage(index) {
        currentImage.src = images[index];
        currentIndex = index;
      }

      prevBtn.addEventListener('click', function() {
        currentIndex = (currentIndex - 1 + images.length) % images.length;
        showImage(currentIndex);
      });

      nextBtn.addEventListener('click', function() {
        currentIndex = (currentIndex + 1) % images.length;
        showImage(currentIndex);
      });

      // Set buttons position
      const imageHeight = currentImage.clientHeight;
      const btnTop = (imageHeight - prevBtn.clientHeight) / 2;
      prevBtn.style.top = btnTop + 'px';
      nextBtn.style.top = btnTop + 'px';
    });
  </script>
{% endblock %}
