{% extends "shop/base.html" %}
{% load static %}
<link href="{% static "css/base.css" %}" rel="stylesheet">
{% block title %}
  О нас
{% endblock %}


{% block content %}
<div class="about_text-container">
  <p class="about_text">
    <strong>REVADA miller</strong> – российский бренд одежды, в основе которого лежит сочетание современного дизайна в стиле streetwear, практичности и комфорта. 
    Бренд основан в 2024 году. Производство всех изделий осуществляется в Москве.
    <br><br>
    ДНК бренда: универсальный лайфстайл гардероб для современных городских жителей, кто ценит комфорт и самовыражение.
    Миссия бренда — задать свой стиль и свою индивидуальность в моде, а также вдохновлять людей быть уверенными в себе и выражать свою уникальность через стиль.
    <br><br>
    В одежде мы ценим сочетание минимализма с удобством и функциональностью: выбирая лаконичный крой, не забываем о вашем комфорте и тщательно продумываем детали. Каждая вещь изготовлена из высококачественных материалов, обеспечивающих долговечность и комфорт.
    Наш бренд для людей, ценящих высокое качество и безупречный стиль как в повседневной жизни, так и в одежде.
    <br><br>
    Название <strong>REVADA miller</strong> – было придумано основателем бренда, где «miller» — это фамилия, а «REVADA» - аббревиатура членов его семьи.
    Семья — это основа общества, главная ценность в жизни каждого человека, источник любви и вдохновения.
  </p>
</div>
  <div class="tg-img">
    <a href="https://t.me/revada_miller" class="contact-link" target="_blank">
      <img src="{% static 'img/telegram.jpg' %}" alt="Telegram">
    </a>
  </div>
  <div class="insta-img">
    <a href="https://www.instagram.com/revada_miller?igshid=MWJrMG13ZzBrbnhvNQ==" class="contact-link" target="_blank">
      <img src="{% static 'img/insta.jpg' %}" alt="Instagram">
    </a>
  </div>
  <div class="back-btn">
      <a href="{% url 'shop:product_list' %}" class="btn" style="float: right; border: 1px solid #ccc;border-radius: 5px; padding: 10px 20px; background-color: #181212; color: #f3eeee;">Вернуться в каталог</a>
  </div>
{% endblock %}