{% extends "shop/base.html" %}
{% load static %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block title %}
  О нас
{% endblock %}


{% block content %}
<div class="about_text-container">
  <div class="about_text">
    <div class="about_text_content">
        <strong>REVADA miller</strong> – российский бренд одежды, в основе которого лежит сочетание современного дизайна в стиле streetwear, практичности и комфорта.
      Бренд основан в 2024 году. Производство всех изделий осуществляется в Москве.
    </div>
    <img src="{% static 'img/about1.png' %}"/>
</div>
    <div class="about_text">
        <img src="{% static 'img/about2.jpg' %}"/>
        <div class="about_text_content">
            <strong>ДНК бренда:</strong> универсальный лайфстайл гардероб для современных городских жителей, кто ценит комфорт и самовыражение.
            Миссия бренда — задать свой стиль и свою индивидуальность в моде, а также вдохновлять людей быть уверенными в себе и выражать свою уникальность через стиль.
        </div>
</div>
  <div class="about_text">
        <div class="about_text_content">
            В одежде <strong>мы ценим</strong> сочетание минимализма с удобством и функциональностью: выбирая лаконичный крой, не забываем о вашем комфорте и тщательно продумываем детали. Каждая вещь изготовлена из высококачественных материалов, обеспечивающих долговечность и комфорт.
            Наш бренд для людей, ценящих высокое качество и безупречный стиль как в повседневной жизни, так и в одежде.
        </div>
      <img src="{% static 'img/about3.jpg' %}"/>
</div>
      <div class="about_text">
          <img src="{% static 'img/about4.jpg' %}"/>
        <div class="about_text_content">
            Название <strong>REVADA miller</strong> – было придумано основателем бренда, где «miller» — это фамилия, а «REVADA» - аббревиатура имен членов его семьи.
            Семья — это основа общества, главная ценность в жизни каждого человека, источник любви и вдохновения.
        </div>
  </div>
</div>
    <div class="socials">
  <div class="tg-img">
    <a href="https://t.me/revada_miller" class="contact-link" target="_blank">
      <img src="{% static 'img/telegram.jpg' %}" alt="Telegram">
    </a>
  </div>
  <div class="insta-img">
    <a href="https://www.instagram.com/revada_miller?igshid=MWJrMG13ZzBrbnhvNQ==" class="contact-link" target="_blank">
      <img src="{% static 'img/insta.jpg' %}" alt="Instagram">
    </a>
  </div>
    </div>
  <div class="back-btn">
    <a href="{% url 'shop:product_list' %}" class="btn" style="border: 1px solid #000000;border-radius: 5px; padding: 10px 20px; background-color: #ffffff; color: #000000;font-family: 'description', sans-serif;">Вернуться в каталог</a>
  </div>
<script>
    function onEntry(entry) {
  entry.forEach(change => {
    if (change.isIntersecting) {
     change.target.classList.add('show');
    }
  });
}

let options = {
  threshold: [0.5] };
let observer = new IntersectionObserver(onEntry, options);
let elements = document.querySelectorAll('img');
let textEls = document.querySelectorAll('.about_text_content')

for (let elm of elements) {
  observer.observe(elm);
}
for (let elm of textEls) {
  observer.observe(elm);
}

</script>
{% endblock %}
