{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Delivery & Payments
{% endblock %}

{% block content %}
<div class="delivery-container">
  <h1>Доставка:</h1>
  <div class="delivery-text">
    Транспортной компанией СДЕК ( рассчитывается индивидуально
    в зависимости от региона.)
    <br>
    Сроки доставки, а также расчет стоимости происходит при 
    оформлении заказа.
    <br>
    Доставка по Москве (в пределах МКАД) - бесплатно.
    При заказе от 2 и более товаров - бесплатно.
    <br>
    После оформления заказа, в течение 1-2 рабочих дней мы передаем
    Ваш заказ в CDEK и присылаем вам трекинг-номер, по которому
    можно отследить заказ на сайте cdek.ru
  </div>
</div>
<div class="payment-container">
  <h2>Оплата:</h2>
  <div class="payment-text">
    Для оплаты перейдите по <a href="https://t.me/revada_miller" class="contact-link" target="_blank">ссылке</a> в телеграм канал для связи
    с нашим менеджером. Дальнейшие действия будут скоординированы
    нашим отделом продаж.
  </div>
</div>
<a href="{% url 'shop:product_list' %}" class="btn return-btn">Вернуться в каталог</a>
{% endblock %}
