{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Delivery & Payments
{% endblock %}

{% block content %}
  <h1>Доставка:</h1>
  <p>
    Транспортной компанией СДЕК ( рассчитывается индивидуально
    в зависимости от региона.)
    При оформлении заказа, на выбор есть доставка до пункта 
    выдачи или курьером, оплата проходит в момент покупки вещей. 
    Сборка заказа осуществляется в течение 1-2 рабочих дней.
  </p>
  <h2>Оплата:</h2>
  <p>
    Для оплаты перейдите по <a href="https://t.me/revada_miller" class="contact-link" target="_blank">сслыке</a> в телеграм канал для связи
    с нашим менеджером. Дальнейшие действия будут скоординированы
    нашим отделом продаж.
  </p>
  <a href="/" class="btn" style="float: right; border: 1px solid #ccc;border-radius: 5px; padding: 10px 20px; background-color: #181212; color: #f3eeee;">Вернуться в каталог</a>
{% endblock %}