{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Exchange & Return
{% endblock %}

{% block content %}
<div class="exchange-return-container">
  <h1>Возврат и обмен</h1>
  <div class="section">
    <h2>Как можно обменять товар или сделать возврат?</h2>
    <div class="content">
      В соответствии с законодательным актом «О защите прав потребителей» 
      мы обязуемся произвести обмен или возврат товара по требованию покупателя 
      в течение четырнадцати дней после получения заказа.
      Для возврата или обмена товара необходимо написать менеджеру в мессенджере 
      <a href="https://t.me/revada_miller" class="contact-link" target="_blank">Telegram</a> о возникшей проблеме.
    </div>
  </div>
  <div class="section">
    <h2>Этапы:</h2>
    <ol>
      <li>Вы отправляете нам товар обратно, оплачивая доставку в "СДЕК" до пункта выдачи.
      (в случае, если не подошел цвет или размер, доставка осуществляется за счет покупателя. 
      В случае брака, наш магазин оплачивает доставку)</li>
      <li>Мы получаем и проверяем его. В течение 2-х рабочих дней возвращаем вам денежные средства 
      или отправляем другой товар. (средства возвращаются на ту карту, с которой производилась оплата. 
      Срок возврата средств зависит от вашего банка)</li>
    </ol>
  </div>
  <div class="section">
    <h2>Требования к возвращаемому товару:</h2>
    <ol>
      <li>Сохранён внешний вид и потребительские качества.</li>
      <li>Есть подтверждающие покупку документы.</li>
      <li>Вещь не была в употреблении.</li>
      <li>Поношенные и испачканные вещи возврату и обмену не подлежат!</li>
    </ol>
  </div>
  <p class="important-note">Важно: вернуть нам товар можно только, если он будет надлежащего качества.</p>
  
</div>
<a href="{% url 'shop:product_list' %}" class="btn return-btn">Вернуться в каталог</a>
{% endblock %}
