{% load static %}
<footer>
    <div class="footer-content">
      <div class="logo-container">
        <img src="{% static 'css/icons/logo-footer.png' %}" alt="Logo" class="logo-footer">
      </div>
      <div class="social-icons">
        <p class="social-media">Мы в сетях</p>
        <a href="https://t.me/revada_miller" class="contact-link" target="_blank">
          <img src="{% static 'css/icons/telegram-icon.png' %}" alt="Telegram">
        </a>
        <a href="https://www.instagram.com/revada_miller?igshid=MWJrMG13ZzBrbnhvNQ==" class="contact-link" target="_blank">
          <img src="{% static 'css/icons/insta-icon.png' %}" alt="Instagram">
        </a>
      </div>
    </div>
  </footer>
  