{% extends "shop/base.html" %}
{% load static %}
<head>

</head>
{% block content %}
<body>
  <div class="pic-container">
      <div class="pic">
          <img src="{% static 'img/1.JPG' %}" alt="mnpc-1">
          <h2  class="sec-text main-card-text">Новый drop</h2>
          <a href="{% url 'shop:product_list_new_drop' %}" class="return-btn main-btn" style="">Перейти к коллекции</a>
      </div>
      <!-- сделать надпись над текстом, а не добавлять категорию новый дроп -->
      <div class="pic">
        <img src="{% static 'img/4.JPG' %}" alt="mnpc-1"> 
        <h2 class="sec-text main-card-text">Футболки OverSize</h2>
        <a href="{% url 'shop:product_list_oversize' %}" class="return-btn main-btn" style="">Перейти к коллекции</a>
    </div>
    <div class="pic">
      <h2 class="sec-text main-card-text">Лонгсливы</h2>
      <a href="{% url 'shop:product_list_longsleevs' %}" class="return-btn main-btn" style="">Перейти к коллекции</a>
      <img src="{% static 'img/7.JPG' %}" alt="mnpc-1">
    </div>
      <div class="pic">
        <img src="{% static 'img/1.JPG' %}" alt="mnpc-1">
        <h2  class="sec-text main-card-text">Футболки OneSize</h2>
        <a href="{% url 'shop:product_list_onesize' %}" class="return-btn main-btn" style="">Перейти к коллекции</a>
    </div>
  </div>

<script>
    function onEntry(entry) {
      entry.forEach(change => {
        if (change.isIntersecting) {
         change.target.classList.add('show');
        }
      });
    }

let options = {
  threshold: [0.5]
};
let observer = new IntersectionObserver(onEntry, options);
let textEls = document.querySelectorAll('.pic')

for (let elm of textEls) {
  observer.observe(elm);
}

</script>
</body>
{% endblock %}