@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Rowdies);
@import url(//fonts.googleapis.com/css?family=Khand);

@font-face {
    font-family: 'Revada_Zagolovok';
    src: url(fonts/FREEFATFONT-Regular.otf);
}

@font-face {
    font-family: 'dostavka';
    src: url(fonts/Inkverse-BWDRx.ttf);
}

@font-face {
    font-family: 'description';
    src: url(fonts/Project\ Space.ttf);
}

body {
    margin:0;
    padding:0;
    font-family:'Rowdies', sans-serif;
    background-color: #ece1e1;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Rowdies', sans-serif;
    font-weight:normal;
    text-align:center;
}

a {
    text-decoration:none;
    color:#1c3343;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#f7f0f0;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:center;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#header {
    padding:10px 0;
    font-size:20px;
    overflow:auto;
    text-align: center;
    font-family: 'Revada_Zagolovok', sans-serif; /* Use your desired font */

}

#header .header-links {
    float: center;
    margin-top: 10px;
    

}

#header .header-link {
    display: inline-block;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'description', sans-serif; /* Use your desired font */
}



#header .header-link:hover {
    color: #5993bb;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Revada_Zagolovok', sans-serif;
    float:center;
    color:#333;
    font-size:50px;
    margin-bottom: 1;
    line-height: 0.35em;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

/* #sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
} */

#main {
    float:center;
    width: 96%;
    margin-right:auto;
    overflow:hidden;
}

.product-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-content: space-around
}

.product-list h1 {
    margin: 0 auto; /* Центрируем элемент по горизонтали */
    text-align: center; /* Выравниваем текст по центру */
    width: fit-content; /* Устанавливаем ширину элемента по содержимому */
}


.product-list .item {
    text-align: center;
    line-height: 1.2;
}

.product-list .item img {
    /* width:100%; */
    width: 20em; /* Например, ширина в 10 em */
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.product-list .item a {
    font-family: 'description', sans-serif; /* Replace 'YourDesiredFont' with the desired font name */
    font-weight: bold; /* Optional: Adjust the font weight as needed */
    font-size: 16px; /* Optional: Adjust the font size as needed */
    color: #000000; /* Optional: Adjust the font color as needed */
    /* text-decoration: none; Optional: Remove underlines if needed */
}

.product-detail {
    text-align:justify;
    display: flex;
    font-family: 'ubuntu', sans-serif;
}

.product-info .product_name {
    
}

.product-detail .image-container {
    position: relative;
    margin-right: 20px;
    width: 560px;
    margin-right: 20px;
    display: flex; /* Добавляем свойство display: flex; для размещения элементов в строку */
    align-items: center; /* Выравниваем элементы по вертикали */

}

.product-detail .image-container img {
    width: 35em; /* Например, ширина в 10 em */
    height: auto;
    margin: 0 auto;
    padding:0 20px 20px 0;
    margin-bottom:none;
    border-radius: 50px;
}


.thumbnail-btn img {
    width: 5em; /* Устанавливаем ширину изображения */
    height: auto; /* Высота автоматически подстраивается */
    margin: 0 auto; /* Выравниваем изображение по центру по горизонтали */
    padding: 0; /* Убираем отступы вокруг изображения */
    margin-bottom: none; /* Убираем нижний отступ */
    border-radius: 5px; /* Устанавливаем скругление углов */
}

.product-detail #prev-btn,
.product-detail #next-btn {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 50%; /* Положение по вертикали в центре */
    transform: translateY(-50%); /* Центрируем относительно верхнего края контейнера */
    background-color: rgba(255, 255, 255, 0.801); /* Прозрачный фон для кнопок */
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    width: 30px;
    height: 45px;
    margin-top: 0px;
}

.product-detail #prev-btn {
    left: 0; /* Кнопка назад прижимается к левому краю контейнера */
}

.product-detail #next-btn {
    right: 0; /* Кнопка вперед прижимается к правому краю контейнера */
}

.product-detail .product-info {
    flex: 1; /* Растягиваем этот блок на всю доступную ширину */
    margin-right: 20px; /* Отступ справа от product image */
    text-align: left;
    width: 500px;
    padding-left: 30px;
}

.product-detail .product_name,
.product-detail .price {
    font-weight: bold;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#bdb7b7;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.contact-link {
    color: #1e88e5; /* Change the color as desired */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

.contact-link:hover {
    color: #0d47a1; /* Change the color on hover */
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}