@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Rowdies);
@import url(//fonts.googleapis.com/css?family=Khand);

@font-face {
    font-family: 'Revada_Zagolovok';
    src: url(fonts/FREEFATFONT-Regular.otf);
}

@font-face {
    font-family: 'dostavka';
    src: url(fonts/Bicubik.OTF);
}

@font-face {
    font-family: 'description';
    src: url(fonts/Bicubik.OTF);
}

body {
    margin:0;
    padding:0;
    font-family:'Rowdies', sans-serif;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Rowdies', sans-serif;
    font-weight:normal;
    text-align:center;
}

a {
    text-decoration:none;
    color:#1c3343;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#f7f0f0;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:center;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#header {
    display: flex; /* Располагаем элементы внутри header в ряд */
    justify-content: space-around; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white; /* Цвет фона заголовка */
    z-index: 1000;
    border-bottom: 1px solid #ccc; 
}

/* Стили для ссылок в header */
.header-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Цвет текста */
    padding: 10px 20px; /* Отступы вокруг текста */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    font-family: 'description', sans-serif;
}

.header-link:hover {
    color: gray; /* Цвет текста при наведении */
}

/* #subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
} */

#header .logo {
    font-family: 'Revada_Zagolovok', sans-serif;
    float:left;
    color:#333;
    font-size:50px;
    margin-bottom: 1;
    line-height: 0.35em;
}
 .head-logo-container {
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 5px;
    float: left;
    width: 200px;
    height: auto;
}

/* Добавьте отступ сверху, чтобы предотвратить перекрытие содержимого */
body {
    padding-top: 80px; /* Высота заголовка */
}

footer {
    background-color: #ffffff;;
    padding-top: 15px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo-container {
    margin-right: 20px;
  }
  
  .logo-footer {
    width: 200px;
    height: auto;
}

  .social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  .social-icons {
    font-family: 'description', sans-serif;
    font-size: 20px;
  }

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:20px 10px;
    overflow:hidden;

}

/* #sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
} */

#main {
    float:center;
    width: 100%;
    margin-right:auto;
    overflow:hidden;
}

.pic-container {
    display: flex;
    flex-wrap: wrap; /* Разрешает перенос строк */
    justify-content: space-between; /* Равномерное распределение пространства между элементами */
    margin: 10px auto; /* Центрирование контейнера */
    max-width: 100%; /* Максимальная ширина равна ширине родительского контейнера */
    margin-top: 100px;
}

.pic-container .pic {
    width: calc(50% - 10px); /* Ширина каждой картинки (50% минус отступ между ними) */
    margin-bottom: 20px; /* Отступ между рядами */
    border-radius: 20px; /* Закругление углов */
}

.pic-container .pic img {
    width: 100%; /* Заполнение всей ширины родительского контейнера */
    height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
}


@media only screen and (max-width: 428px) {
    /* Стили для разрешения экрана шириной до 414px (iPhone 11 и подобные) */
    .text-container {
        top: 10%; /* Перераспределите расположение текста */
        font-size: 30px; /* Уменьшите размер шрифта */
    }

    .main-text {
        font-size: 40px; /* Уменьшите размер шрифта для основного текста */
    }

    .sec-text {
        font-size: 16px; /* Уменьшите размер шрифта для вторичного текста */
    }

    .pic-container .pic {
        width: 100%; /* Картинки должны занимать всю ширину на маленьких экранах */
    }
}

.text-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: 1; /* Чтобы text-container был над pic-container */
    width: max-content;
}

.main-text {
    font-family: 'description', sans-serif;
    text-align: center; /* Выравнивание по центру */
    font-size: 50px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    width: 100%; /* Выравнивание по ширине */
    margin-bottom: 5px;
}

.sec-text {
    font-family: 'description', sans-serif;
    text-align: center; /* Выравнивание по центру */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    width: 100%; /* Выравнивание по ширине */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* кнопка подробнее на глвной стр */
.button-container {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'description', sans-serif;
}

.collection-link {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    font-size: inherit;
    text-decoration: underline;
    transition: font-size 0.2s; /* Добавлено плавное изменение размера */
}

.collection-link:hover {
    font-size: 1.1em; /* Увеличение размера на 10% при наведении */
}


.product-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.product-list h1 {
    margin: 0 auto; /* Центрируем элемент по горизонтали */
    text-align: center; /* Выравниваем текст по центру */
    width: fit-content; /* Устанавливаем ширину элемента по содержимому */
}


.product-list .item {
    text-align: center;
    line-height: 1.2;
    display: block;
    width: 360px;
    height: auto;
    padding-left: 15%;
}

.product-list .image-container {
    width: 360px;
    height: 400px;
    overflow: hidden;
    position: static;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    display: flex; 
  }


.product-list .description-container {
    text-align: center;
}

.product-list .item img {
    width: 100%; /* Например, ширина в 10 em */
    height: 120%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.product-list .item a {
    font-family: 'description', sans-serif; /* Replace 'YourDesiredFont' with the desired font name */
    font-weight: bold; /* Optional: Adjust the font weight as needed */
    font-size: 16px; /* Optional: Adjust the font size as needed */
    color: #000000; /* Optional: Adjust the font color as needed */
    /* text-decoration: none; Optional: Remove underlines if needed */
}

.product-detail {
    text-align:justify;
    display: flex;
    font-family: 'description', sans-serif;
    padding-left: 100px;
}



.product-detail .image-container {
    position: relative;
    margin-right: 20px;
    width: 340px;
    height: 520px;
    margin-right: 20px;
    display: flex; /* Добавляем свойство display: flex; для размещения элементов в строку */
    align-items: center; /* Выравниваем элементы по вертикали */

}

.product-detail .image-container img {
    width: 340px;
    height: 520px;
    margin: 0 auto;
    padding:0 20px 20px 0;
    margin-bottom:none;
    border-radius: 50px;
}


.thumbnails-container {
    margin-left: 100px;
}

.thumbnail-btn img {
    width: 30px; /* Устанавливаем ширину изображения */
    height: 45px; /* Высота автоматически подстраивается */
    margin: 0 auto; /* Выравниваем изображение по центру по горизонтали */
    padding: 0; /* Убираем отступы вокруг изображения */
    padding-top: 0;
    margin-bottom: none; /* Убираем нижний отступ */
    border-radius: 5px; /* Устанавливаем скругление углов */
}

.product-detail #prev-btn,
.product-detail #next-btn {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 50%; /* Положение по вертикали в центре */
    transform: translateY(-50%); /* Центрируем относительно верхнего края контейнера */
    background-color: rgba(255, 255, 255, 0.801); /* Прозрачный фон для кнопок */
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    width: 30px;
    height: 45px;
    margin-top: 0px;
}

.product-detail #prev-btn {
    left: 0; /* Кнопка назад прижимается к левому краю контейнера */
}

.product-detail #next-btn {
    right: 0; /* Кнопка вперед прижимается к правому краю контейнера */
}

.product-detail .product-info {
    flex: 1; /* Растягиваем этот блок на всю доступную ширину */
    margin-right: 20px; /* Отступ справа от product image */
    text-align: left;
    width: 500px;
    padding-left: 30px;
}

.product_name,
.price {
    font-weight: bold;
    font-size: 30px;
    font-family: 'description', sans-serif;
}

/* Стили для кнопки "Заказать" */
#order-btn {
    background-color: #040904;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Стили для всплывающего окна */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    font-size: 20px;
    font-family: 'ubuntu', sans-serif;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .social-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 50px;
    color: #4CAF50;
    text-decoration: none;
    text-align: center;
  }
  
  .social-link:hover {
    text-decoration: underline;
  }

  .back-to-catalog-btn {
    margin-top: 20px; /* Отступ сверху */
    text-align: right; /* Выравнивание по правому краю */
  }
  
  .back-to-catalog-btn button {
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 12px; /* Размер шрифта */
    background-color: #181212; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Изменяем курсор при наведении */
    font-family: 'ubuntu', sans-serif;
  }
  
  .back-to-catalog-btn button:hover {
    background-color: #181212; /* Цвет фона кнопки при наведении */
  }


.insta-img {
  padding-left: 440px; /* Отступ справа от контейнера */
  float: left;
  width: 320px; /* Ширина контейнера */
  height: auto; /* Высота контейнера */
}

/* Стили для изображения в контейнере Instagram */
.insta-img img {
  width: 320px; /* Ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}
  
  /* Стили для контейнера Instagram */
.tg-img {
  float: right;
  padding-right: 440px; /* Отступ справа от контейнера */
  width: 320px;
  height: auto;
  
}

.tg-img img {
  width: 320px; /* Ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}




/* все что ниже пока Не используется  */
.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#bdb7b7;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.contact-link {
    color: #1e88e5; /* Change the color as desired */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

.contact-link:hover {
    color: #0d47a1; /* Change the color on hover */
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}